 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: 'M PLUS 1p', sans-serif;
 }
 
 .container {
     max-width: 1146px;
     margin: auto;
 }
 
 header {
     padding: 53px 0;
 }
 
 .logo1 {
     display: flex;
     justify-content: space-between;
     vertical-align: baseline;
 }
 
 nav ul {
     display: flex;
     list-style: none;
 }
 
 nav li {
     margin-right: 48px;
     list-style: none;
 }
 
 nav li:last-child {
     margin-right: 0;
 }
 
 .tel {
     font-weight: 800;
     font-size: 14px;
     letter-spacing: 2px;
     color: #30233D;
     text-decoration: none;
     background-image: url(../images/vector.svg);
     background-repeat: no-repeat;
     display: inline-block;
     /*чтобы задавать высоту ссылке*/
     height: 29px;
     line-height: 29px;
     padding-left: 27px;
 }
 
 .mob-menu {
     display: none;
 }
 
 .tehnologies {
     padding-top: 72px;
     padding-bottom: 58px;
 }
 
 h2 {
     font-weight: 800;
     font-size: 13px;
     line-height: 26px;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #A22F32;
 }
 
 .remember {
     max-width: 870px;
     font-size: 27px;
     line-height: 40px;
     color: #30233D;
     margin-top: 12px;
     margin-bottom: 60px;
 }
 
 .tech {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 
 .tech>div {
     width: 31.5%;
     border: #F61067 1px solid;
     padding: 38px 36px;
 }
 
 tech h3 {
     font-weight: 500;
     font-size: 27px;
     color: #30233D;
     margin-top: 33px;
     margin-bottom: 13px;
 }
 
 .tech p {
     font-size: 16.2px;
     line-height: 26px;
     color: #30233D;
 }
 
 @media(max-width: 1146px) {
     .container {
         max-width: 95%;
     }
 }
 
 @media(max-width: 992px) {
     .mob-menu {
         display: inline-block;
         margin-left: 89px;
     }
     nav {
         display: none;
     }
     .tech>div {
         width: 48%;
         margin-bottom: 30px;
     }
     .remember {
         max-width: 830px;
     }
 }
 
 @media(max-width: 650px) {
     .tech>div {
         width: 100%;
     }
     .tel {
         display: none;
     }
 }